<html>

  <head>
    <title>
      Dashboard page
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <link
      rel='mask-icon'
      href='/fav/safari-pinned-tab.svg'
      color='#5bbad5'
    />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    {{! <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD'
      crossorigin='anonymous'
    /> }}

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />

  </head>

  <body>

    <div class='page page--dashboard'>
      <aside
        class='page__aside aside vertical vertical--big'
      >
        <div class='text aside__logo'>
          Sidebar
        </div>

        <nav class='vertical vertical--small'>
          <a
            href='#'
            class='nav-button nav-button--active click'
          >
            <span
              class='icon nav-button__icon'
              style="background-image: url('/svg/nav/home.svg');"
            ></span>
            <span class='text text--light'>Home</span>
          </a>

          <a href='#' class='nav-button nav-button click'>
            <span
              class='icon nav-button__icon'
              style="background-image: url('/svg/nav/orders.svg');"
            ></span>
            <span class='text text--light'>Orders</span>
          </a>

          <a href='#' class='nav-button nav-button click'>
            <span
              class='icon nav-button__icon'
              style="background-image: url('/svg/nav/products.svg');"
            ></span>
            <span class='text text--light'>Products</span>
          </a>

          <div class='relative click'>
            <div class='field field--select'>
              <span
                class='text text--light'
              >Choose...</span>
            </div>
            <select class='field__select'>
              <option value='dog'>Dog</option>
              <option value='cat'>Cat</option>
              <option value='hamster'>Hamster</option>
            </select>
          </div>

        </nav>
      </aside>

      <header class='header'>
        <div class='layout header__content text--small'>
          <div class='header__search relative'>
            <input
              type='text'
              placeholder='Search'
              class='text field field--header'
            />
            <span
              class='icon header__icon-search'
              style="background-image: url('/svg/header/search.svg')"
            ></span>
            <span
              class='icon icon--header-settings click'
              style="background-image: url('/svg/header/settings.svg')"
            ></span>
          </div>

          <div class='header__right'>
            <span
              class='icon header__right-sound click'
              style="background-image: url('/svg/header/right-sound.svg')"
            ></span>
            <span
              class='icon header__right-translate click'
              style="background-image: url('/svg/header/right-translate.svg')"
            ></span>
            <span
              class='icon header__right-alarm click'
              style="background-image: url('/svg/header/right-alarm.svg')"
            ></span>
          </div>
        </div>
      </header>

      <main class='main'>
        <div class='layout'>
          <section class='box analytic__block'>
            <div
              class='analytic analytic--double analytic--purple'
            >
              <span
                class='icon analytic__button click'
                style="background-image: url('/svg/analytic/earning.svg')"
              ></span>

              <div
                class='relative vertical vertical--small'
              >
                <div
                  class='analytic__title text text--light'
                >$500</div>
                <div
                  class='analytic__info text text--lighter text--small'
                >Total earning</div>
              </div>

              <span
                class='icon analytic__arrow'
                style="background-image: url('/svg/analytic/blue-arrow.svg')"
              ></span>
            </div>

            <div
              class='analytic analytic--double analytic--blue'
            >
              <span
                class='icon analytic__button click'
                style="background-image: url('/svg/analytic/order.svg')"
              ></span>

              <div
                class='relative vertical vertical--small'
              >
                <div
                  class='analytic__title text text--light'
                >$961</div>
                <div
                  class='analytic__info text text--lighter text--small'
                >Total Order</div>
              </div>

              <span
                class='icon analytic__arrow'
                style="background-image: url('/svg/analytic/blue-arrow.svg')"
              ></span>
            </div>

            <div class='analytic__half'>
              <div class='analytic__half analytic--blue'>
                <span
                  class='icon analytic__button click'
                  style="background-image: url('/svg/analytic/income.svg')"
                ></span>
                <div class='relative vertical vertical--small'>
                  <div
                    class='analytic__title-block text text--light'
                  >$203K</div>
                  <div
                    class='analytic__info text text--lighter text--small'
                  >Total income</div>
                </div>
              </div>

              <div
                class='analytic__half analytic--white border'
              >
                <span class='icon analytic__button click'
                  style="background-image: url('/svg/analytic/income-2.svg')"
                ></span>
                <div class='relative vertical vertical--small'></div>
                  <div class='analytic__title-block text text--black'>$203K</div>
                <div
                  class='analytic__info text text--gray text--small'
                >Total income</div>
                </div>
              </div>

            </div>

          </section>

          <div class="analytic__blocks">
            <section class="box box__purchase">
            <div>
              <h1>Purchase list</h1>
            </div>
            <br>
            <hr>
            <br>
            <div class="analytic__block-purchase">
              <div>
               <div>ID437661</div>
               <div>May 11, 2023, 14:21</div>
            </div>
             <div>
               <div>AirOn ProCam</div>
               <div>7/8 USB Type-C</div>
            </div>
             <div>
               <div>132.32 EUR</div>
               <div>Not paid</div>
            </div>
             <div>
               <div>Customer</div>
               <div>robin@com.de</div>
            </div>
             <div>
               <div>ID437661</div>
               <div>May 11, 2023, 14:21</div>
            </div>
             <div>
               <div>PHILIPS Essential</div>
               <div>HD9200/90</div>
            </div>
             <div>
               <div>543 USD</div>
               <div>Pay by  Stripe</div>
            </div>
             <div>
               <div>Customer</div>
               <div>dima@com.ua</div>
            </div>
            </div>
          </section>

          <section class="box box__payment">
            <div>
              <h1>Payment</h1>
            </div>
            <br>
            <hr>
            <br>
            <div class="analytic__block-payment">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Credit card
                </label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Debit card
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  PayPal
                </label>
              </div>           
            </div>
            <br>

            <div class="analytic__payment-info mb-3">
              <div>
                <label for="name" class="label__info text text--small">Name on card</label>
                <input type="text" class="input__info" id="name">
              </div>
              <div>
                <label for="name" class="label__info text text--small">Credit card number</label>
                <input type="text" class="input__info" id="name">
              </div>
              <div>
                <label for="name" class="label__info text text--small">Expiration</label>
                <input type="text" class="input__info" id="name">
              </div>
              <div>
                <label for="name" class="label__info text text--small">CVV</label>
                <input type="text" class="input__info" id="name">
              </div>
            </div>
          </section>
          </div>

        </div>
      </main>
    </div>

  </body>

</html>